<mat-toolbar class="header">
  <span class="logo" routerLink="/">My Shop</span>

  <div class="auth-btn-block" *ngIf="!isAuth">
    <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/login">Login</button>
  </div>

  <div class="auth-btn-block" *ngIf="isAuth">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-greet" >Hello, {{currentUser.firstName}}<mat-icon>arrow_drop_down</mat-icon></button>
      <mat-menu #userMenu="matMenu" class="user-menu">
        <button mat-menu-item routerLink="/user/profile"><mat-icon>person</mat-icon> My Profile </button>
        <button mat-menu-item routerLink="/user/basket"><mat-icon>shopping_cart</mat-icon> Basket </button>
        <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout </button>
      </mat-menu>

  </div>

</mat-toolbar>
