.header {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
}
.logo {
  cursor: pointer;
}
.auth-btn-block {
  margin-left: auto;
}
.user-greet {
  position: relative;
  .user-menu {
    position: absolute;
    top: -100px
  }

}
