.header {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
}
.logo {
  cursor: pointer;
}
.auth-btn-block {
  margin-left: auto;
  button {
    margin: 10px;
  }
}

.greet {
  font-size: 15px;
  font-style: italic;
}
