.filter-box {
  width: 320px;
  height: auto;
  padding: 20px;
  text-align: center;
}
.drawer-container {
  height: auto; min-height: 100%;
}

.mat-drawer-content {
  padding: 5px;
  height: auto;
}

/*FILTER TOOLBAR*/
.product-toolbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.filter-tag {
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  span {
    margin-top: 5px;
    display:inline-flex;
    vertical-align: middle;
  }
  &:hover {
    color: red;
  }
  .close-icon {
    font-size: 16px;
    width: 16px;
    margin-left: 5px;
  }
}

.sort-selection-box {
  margin-left: auto;

  .sort-selection {
    padding: 3px 2px;
    border: solid 1px black;
  }
}


/* PRODUCTS*/

.grid {
  display: grid;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.product-list {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.product-box {
  cursor: pointer;
  min-width: 220px;
  height: 400px;
  .product-card {
    box-sizing: border-box;
    height: 100%;
    &:hover {
      background: #1c9c4e;
    }
  }
  .product-image {
    width:auto; max-width: 200px;
    max-height: 230px;
    display:block;
    margin:0 auto;
    padding-top:10px;
    box-sizing: border-box;
  }
  .mat-card-actions {
    text-align: center;
  }
}

.pagination-box {
  position: relative;
  height: 6em;
  .pagination {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}


/* MEDIA */
@media screen and (max-width: 1224px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 810px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}

