.filter-box {
  width: 320px;
  height: auto;
}
.drawer-container {
  height: auto; min-height: 100%;
}

.mat-drawer-content {
  padding: 5px;
  height: auto;
}

/*FILTER TOOLBAR*/
.product-toolbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.filter-tag {
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  span {
    margin-top: 5px;
    display:inline-flex;
    vertical-align: middle;
  }
  &:hover {
    color: red;
  }
  .close-icon {
    font-size: 16px;
    width: 16px;
    margin-left: 5px;
  }
}

.sort-selection-box {
  margin-left: auto;

  .sort-selection {
    padding: 3px 2px;
    border: solid 1px black;
  }
}


/* PRODUCTS*/

.grid {
  display: grid;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.product-list {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.product-box {
  min-width: 240px;
  height: 400px;
  transition: transform 0.1s ease;
  &:hover {
    transform: scale(1.05);
  }
}
.fix-image {
  position: relative;
  width: 100%;
  height: 220px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  .product-image {
    width:auto; max-width: 100%;
    height: auto; max-height: 100%;
    box-sizing: border-box;
  }
}
.product-card {
  box-sizing: border-box;
  height: 100%;
  &:hover {
  }
  .mat-card-title {
    font-size: 18px;
    cursor: pointer;
    margin: 5px 0 0 0;
  }
  .mat-card-subtitle {
    margin: 0;
  }
  .mat-card-actions {
    margin: 0;
    .price {
      color: green;
      font-weight: 600;
    }
    .buy-btn {
      margin: 0;
      font-size: 16px;
      padding: 5px 8px;
      &:hover {
        background: #B6F9C7;
      }
    }
  }
}
.inline-actions {
  width: 100%;
  height: auto;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.rating-box {
  margin-left: auto;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  .stars-rating {
    width: auto;
    padding-bottom: 5px;
    font-size: 12px;
  }
  .rating {
    margin-left: 4px;
    font-size: 16px;
    font-weight: 500;
    color: grey;
  }
  .votes {
    position: absolute;
    top: 28px;
    right: 0;
    font-size: 12px;
    color: grey;
  }
}

.favorite {
  width: auto;
  height: auto;
  margin-left: auto;
  font-size: 40px;
  color: orange;
  cursor: pointer;
  &:hover {
    color: #FF9802;
    transform: scale(1.1);
  }
}

.pagination-box {
  position: relative;
  height: 6em;
  .pagination {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
}


/* MEDIA */
@media screen and (max-width: 1224px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 810px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}

