<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer class="filter-box" mode="side" opened>
    <app-product-filter #productFilter (updateProducts)="updateProducts($event)" (switchProductsLoading)="switchLoading($event)" [page]="page" [limit]="limit" [order]="order"></app-product-filter>
  </mat-drawer>

    <mat-drawer-content>
      <!--Toolbar-->
      <mat-toolbar class="toolbar">
        <mat-chip-list>
          <!--FILTER TAGS-->

          <!--Sliders tag-->
        <div *ngFor="let item of productFilter.selectedFilterOptions.sliders | keyvalue">
          <mat-chip class="filter-tag"
            *ngIf="(item.value.lte || item.value.gte)"
                    (click)="productFilter.deleteTag('slider', item.key)">
            <span> {{ item.value.lte }} - {{item.value.gte }}  UAH <mat-icon class="close-icon">close</mat-icon> </span>
          </mat-chip>
        </div>

          <!--Checkboxes tag-->
          <mat-chip class="filter-tag" *ngFor="let item of productFilter.selectedFilterOptions.checkboxes.getCheckboxList()" (click)="productFilter.deleteTag('checkbox', item.property, item)">
            <span> {{item.name}} <mat-icon class="close-icon">close</mat-icon> </span>
          </mat-chip>

        </mat-chip-list>

        <!--Sort products-->
        <div class="sort-selection-box">
          <select class="sort-selection" required [(ngModel)]="selectedSortOption" (ngModelChange)="sortProducts($event.order)" #selection>
            <option *ngFor="let sortOption of sortOptions" [ngValue]="sortOption">{{sortOption.title}}</option>
          </select>
        </div>

      </mat-toolbar>

      <!--PRODUCTS LIST-->

        <mat-spinner *ngIf="loading" style="margin: 50px auto"></mat-spinner>

        <section>
          <div class="container">
            <div class="grid product-list" *ngIf="!loading">

              <div class="product-box" *ngFor="let product of products">
                <mat-card class="product-card">
                  <div class="fix-image" routerLink="../details/{{product.id}}" title="{{product.title}}">
                    <img [src]="product.imagePath" class="product-image">
                  </div>
                  <mat-card-title routerLink="../details/{{product.id}}">{{product.title}}</mat-card-title>
                  <mat-card-subtitle>Code: {{product.id}}</mat-card-subtitle>
                  <mat-card-actions>
                    <div class="inline-actions">
                      <span class="price">{{product.price | currency: '₴ '}}</span>
                      <div class="rating-box">
                        <rating class="stars-rating" [(ngModel)]="product.rating" [readonly]="true" [titles]="['one', 'two', 'three', 'four', 'five']"></rating>
                        <span class="rating">{{product.rating}}</span>
                        <span class="votes">{{product.numberOfVotes}} votes</span>
                      </div>
                    </div>
                    <div class="inline-actions">
                      <button mat-button class="buy-btn" (click)="openDialogAddToBasket(product)"><mat-icon>shopping_cart</mat-icon> Buy</button>
                      <mat-icon class="favorite" title="Add to favorites">favorite_border</mat-icon>
                    </div>
                  </mat-card-actions>
                </mat-card>
              </div>

            </div>
          </div>
        </section>


          <div class="pagination-box">
            <app-paginator class="pagination" [totalItems]="12" [perPage]="8" [(page)]="page" (pageChange)="switchPage(productFilter.selectedFilterOptions)"></app-paginator>
          </div>




    </mat-drawer-content>
</mat-drawer-container>
