.wrapper {
  padding: 0 20px 20px 20px;
}

p  {
  text-align: center;
}

.amount-box {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100px;
  }
  .total-amount {
    display: block;
    padding: 10px;
    font-weight: 600;
    color: green;
  }
}


.mat-dialog-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  button {
    padding: 8px 12px;
    font-size: 16px;
  }
}
