<div class="wrapper">
<mat-dialog-content>
  <h3> Select the amount you want to add to the basket </h3>
  <p> Selected product: {{data.title}}, code: {{data.id}}  </p>

  <div class="amount-box">
   <img src="{{data.imagePath}}" alt="{{data.title}}">
    <div>
      <app-amount-roller [(amount)]="amount"></app-amount-roller>
      <span class="total-amount">Total: {{data.price * amount | currency: ' '}} UAH </span>
    </div>

  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onClose()"> <mat-icon>close</mat-icon> Close </button>
  <button mat-button (click)="addToBasket(data.id)"> <mat-icon>add_shopping_cart</mat-icon> Add </button>
</mat-dialog-actions>
</div>
